Schema/CanvasAppsSuddenDeath/unpackedapp/pkgs/Wadl/PoliceAPI.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/pfp-20reference-20data-20v2-5fec56f3da3c70054e--c663afc2998bfefe" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PoliceAPI" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PoliceAPI" />
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/pfp-20reference-20data-20v2-5fec56f3da3c70054e--c663afc2998bfefe" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="LookupField_id_def" />
      <string name="LookupField_name_def" />
      <string name="LookupField_displayName_def" />
      <array typeRef="LookupValue" name="LookupField_values_def" />
      <object name="LookupField">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="displayName" type="string" />
        <property name="values" typeRef="LookupField_values_def" />
      </object>
      <string name="LookupValue_id_def" />
      <string name="LookupValue_name_def" />
      <string name="LookupValue_displayValue_def" />
      <integer name="LookupValue_displaySequenceNo_def" />
      <object name="LookupValue">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="displayValue" type="string" />
        <property name="displaySequenceNo" type="integer" />
      </object>
      <string name="User_id_def" />
      <string name="User_name_def" />
      <string name="User_badgeNumber_def" />
      <string name="User_emailAddress_def" />
      <string name="User_displayValue_def" />
      <object name="User">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="badgeNumber" type="string" />
        <property name="emailAddress" type="string" />
        <property name="displayValue" type="string" />
      </object>
      <array typeRef="User" name="GetCivilianUsers_responses_200_def" />
      <array typeRef="User" name="GetOfficerUsers_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/pfp-20reference-20data-20v2-5fec56f3da3c70054e--c663afc2998bfefe">
    <resource path="/{connectionId}/api/RefData/lookupfield/{filterId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="filterId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetLookupField" siena:isDeprecated="false">
        <doc title="Get Lookup Field" />
        <request>
          <param style="header" name="IntegrationKey" type="xs:string" required="true" fixed="154DC294-9422-EC11-B6E6-0022481A7BE5" />
          <param style="header" name="UserEmail" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:LookupField" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/api/RefData/territorialpolicingarea">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetTerritorialPolicingArea" siena:isDeprecated="false">
        <doc title="Get Territorial Policing Area" />
        <request>
          <param style="header" name="IntegrationKey" type="xs:string" required="true" fixed="154DC294-9422-EC11-B6E6-0022481A7BE5" />
          <param style="header" name="UserEmail" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:LookupField" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/api/RefData/contactroletype/{application}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="application" type="xs:long" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetContactRoleType" siena:isDeprecated="false">
        <doc title="Get Contact Role Type" />
        <request>
          <param style="header" name="IntegrationKey" type="xs:string" required="true" fixed="154DC294-9422-EC11-B6E6-0022481A7BE5" />
          <param style="header" name="UserEmail" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:LookupField" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/api/RefData/civilianusers">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetCivilianUsers" siena:isDeprecated="false">
        <doc title="Get Civilian Users" />
        <request>
          <param style="header" name="IntegrationKey" type="xs:string" required="true" fixed="154DC294-9422-EC11-B6E6-0022481A7BE5" />
          <param style="header" name="UserEmail" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetCivilianUsers_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/api/RefData/officers/{badgeNumberBeginsWith}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="badgeNumberBeginsWith" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetOfficerUsers" siena:isDeprecated="false">
        <doc title="Get Officer Users" />
        <request>
          <param style="header" name="IntegrationKey" type="xs:string" required="true" fixed="154DC294-9422-EC11-B6E6-0022481A7BE5" />
          <param style="header" name="UserEmail" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetOfficerUsers_responses_200_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_pfp-20reference-20data-20v2-5fec56f3da3c70054e--c663afc2998bfefe" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>