Schema/CanvasAppsPocketNotebookAzureCP/unpackedapp/pkgs/Wadl/PhotoGet.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/cp-5fphoto-20get-5fec56f3da3c70054e" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PhotoGet" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Photo Get">Photo Get</doc>
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/cp-5fphoto-20get-5fec56f3da3c70054e" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GetPhoto_responses_default_def_pocketNotebookId_def" />
      <string name="GetPhoto_responses_default_def_suddenDeathId_def" />
      <string name="GetPhoto_responses_default_def_blob_def" />
      <string name="GetPhoto_responses_default_def_caption_def" />
      <string name="GetPhoto_responses_default_def_incidentNumber_def" />
      <string name="GetPhoto_responses_default_def_incidentDate_def" />
      <string name="GetPhoto_responses_default_def_additionalOfficerIds_def" />
      <string name="GetPhoto_responses_default_def_singleOfficer_def" />
      <string name="GetPhoto_responses_default_def_primaryOfficer_def" />
      <string name="GetPhoto_responses_default_def_id_def" />
      <string name="GetPhoto_responses_default_def_name_def" />
      <object name="GetPhoto_responses_default_def">
        <property name="pocketNotebookId" type="string" />
        <property name="suddenDeathId" type="string" />
        <property name="blob" type="string" />
        <property name="caption" type="string" />
        <property name="incidentNumber" type="string" />
        <property name="incidentDate" type="string" />
        <property name="additionalOfficerIds" type="string" />
        <property name="singleOfficer" type="string" />
        <property name="primaryOfficer" type="string" />
        <property name="id" type="string" />
        <property name="name" type="string" />
      </object>
      <string name="GetPhotoThumbnail_responses_default_def_pocketNotebookId_def" />
      <string name="GetPhotoThumbnail_responses_default_def_suddenDeathId_def" />
      <string name="GetPhotoThumbnail_responses_default_def_blob_def" />
      <string name="GetPhotoThumbnail_responses_default_def_caption_def" />
      <string name="GetPhotoThumbnail_responses_default_def_incidentNumber_def" />
      <string name="GetPhotoThumbnail_responses_default_def_incidentDate_def" />
      <string name="GetPhotoThumbnail_responses_default_def_additionalOfficerIds_def" />
      <string name="GetPhotoThumbnail_responses_default_def_singleOfficer_def" />
      <string name="GetPhotoThumbnail_responses_default_def_primaryOfficer_def" />
      <string name="GetPhotoThumbnail_responses_default_def_id_def" />
      <string name="GetPhotoThumbnail_responses_default_def_name_def" />
      <object name="GetPhotoThumbnail_responses_default_def">
        <property name="pocketNotebookId" type="string" />
        <property name="suddenDeathId" type="string" />
        <property name="blob" type="string" />
        <property name="caption" type="string" />
        <property name="incidentNumber" type="string" />
        <property name="incidentDate" type="string" />
        <property name="additionalOfficerIds" type="string" />
        <property name="singleOfficer" type="string" />
        <property name="primaryOfficer" type="string" />
        <property name="id" type="string" />
        <property name="name" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/cp-5fphoto-20get-5fec56f3da3c70054e">
    <resource path="/{connectionId}/api/Photo/{photoId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="photoId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetPhoto" siena:isDeprecated="false">
        <doc title="Get Photo&#xA;Get Photo" />
        <request>
          <param style="header" name="IntegrationKey" type="xs:string" required="true" fixed="154DC294-9422-EC11-B6E6-0022481A7BE5" />
          <param style="header" name="UserEmail" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetPhoto_responses_default_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/api/Photo/thumbnail/{photoId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="photoId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetPhotoThumbnail" siena:isDeprecated="false">
        <doc title="Get Photo Thumbnail&#xA;Get Photo Thumbnail" />
        <request>
          <param style="header" name="IntegrationKey" type="xs:string" required="true" fixed="154DC294-9422-EC11-B6E6-0022481A7BE5" />
          <param style="header" name="UserEmail" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetPhotoThumbnail_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_cp-5fphoto-20get-5fec56f3da3c70054e" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>