Schema/CanvasAppsPocketNotebookAzureCP/unpackedapp/pkgs/Wadl/PNBGet.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/pnb-20get-5fec56f3da3c70054e-5fec37e65b69cd854d" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PoliceAPI" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PoliceAPI" />
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/pnb-20get-5fec56f3da3c70054e-5fec37e65b69cd854d" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="Photo_id_def" />
      <string name="Photo_name_def" />
      <string name="Photo_pocketNotebookId_def" />
      <string name="Photo_blob_def" />
      <string name="Photo_caption_def" />
      <object name="Photo">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="pocketNotebookId" type="string" />
        <property name="blob" type="string" />
        <property name="caption" type="string" />
      </object>
      <string name="PocketNotebook_id_def" />
      <string name="PocketNotebook_name_def" />
      <array typeRef="Photo" name="PocketNotebook_photos_def" />
      <string name="PocketNotebook_notes_def" />
      <dateTimeString name="PocketNotebook_noteDateAndTime_def" />
      <string name="PocketNotebook_sketch_def" />
      <string name="PocketNotebook_signature_def" />
      <string name="PocketNotebook_incidentNumber_def" />
      <dateTimeString name="PocketNotebook_incidentDate_def" />
      <dateTimeString name="PocketNotebook_signatureDateandTime_def" />
      <string name="PocketNotebook_signatoryName_def" />
      <object name="PocketNotebook">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="photos" typeRef="PocketNotebook_photos_def" />
        <property name="notes" type="string" />
        <property name="noteDateAndTime" typeRef="PocketNotebook_noteDateAndTime_def" />
        <property name="sketch" type="string" />
        <property name="signature" type="string" />
        <property name="incidentNumber" type="string" />
        <property name="incidentDate" typeRef="PocketNotebook_incidentDate_def" />
        <property name="signatureDateandTime" typeRef="PocketNotebook_signatureDateandTime_def" />
        <property name="signatoryName" type="string" />
      </object>
      <string name="PocketNotebookListEntry_id_def" />
      <string name="PocketNotebookListEntry_name_def" />
      <string name="PocketNotebookListEntry_notes_def" />
      <dateTimeString name="PocketNotebookListEntry_noteDateAndTime_def" />
      <object name="PocketNotebookListEntry">
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="notes" type="string" />
        <property name="noteDateAndTime" typeRef="PocketNotebookListEntry_noteDateAndTime_def" />
      </object>
      <array typeRef="PocketNotebookListEntry" name="GetUserPNB_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/pnb-20get-5fec56f3da3c70054e-5fec37e65b69cd854d">
    <resource path="/{connectionId}/api/PNB/getwhereowner">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetUserPNB" siena:isDeprecated="false">
        <doc title="Get User PNB" />
        <request>
          <param style="header" name="IntegrationKey" type="xs:string" required="true" fixed="35C87175-6BF7-EB11-94EF-0022489CC1DC" />
          <param style="header" name="UserEmail" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetUserPNB_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/api/PNB/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetSinglePNB" siena:isDeprecated="false">
        <doc title="Get Single PNB" />
        <request>
          <param style="header" name="IntegrationKey" type="xs:string" required="true" fixed="35C87175-6BF7-EB11-94EF-0022489CC1DC" />
          <param style="header" name="UserEmail" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:PocketNotebook" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_pnb-20get-5fec56f3da3c70054e-5fec37e65b69cd854d" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>