Schema/CanvasAppsUseOfForceCP/unpackedapp/pkgs/Wadl/NDIWrapper-Name.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="NDIWrapper-Name" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="NDIWrapper-Name" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Initializevariable_Value_def" />
      <string name="ManualTriggerInput_Initializevariable2_Value_def" />
      <string name="ManualTriggerInput_Initializevariable3_Value_def" />
      <string name="ManualTriggerInput_Initializevariable4_Value_def" />
      <string name="ManualTriggerInput_Initializevariable5_Value_def" />
      <object name="ManualTriggerInput">
        <property name="Initializevariable_Value" type="string" />
        <property name="Initializevariable2_Value" type="string" />
        <property name="Initializevariable3_Value" type="string" />
        <property name="Initializevariable4_Value" type="string" />
        <property name="Initializevariable5_Value" type="string" />
      </object>
      <string name="ResponseActionOutput_records_def_items_def_name_def" />
      <string name="ResponseActionOutput_records_def_items_def_dateOfBirth_def" />
      <string name="ResponseActionOutput_records_def_items_def_pncId_def" />
      <string name="ResponseActionOutput_records_def_items_def_gender_def" />
      <string name="ResponseActionOutput_records_def_items_def_ethnicity_def" />
      <string name="ResponseActionOutput_records_def_items_def_placeOfBirth_def" />
      <string name="ResponseActionOutput_records_def_items_def_address1_def" />
      <string name="ResponseActionOutput_records_def_items_def_address2_def" />
      <string name="ResponseActionOutput_records_def_items_def_address3_def" />
      <string name="ResponseActionOutput_records_def_items_def_driverNumber_def" />
      <string name="ResponseActionOutput_records_def_items_def_forenames_def" />
      <string name="ResponseActionOutput_records_def_items_def_surname_def" />
      <boolean name="ResponseActionOutput_records_def_items_def_selected_def" />
      <object name="ResponseActionOutput_records_def_items_def">
        <property name="name" type="string" />
        <property name="dateOfBirth" type="string" />
        <property name="pncId" type="string" />
        <property name="gender" type="string" />
        <property name="ethnicity" type="string" />
        <property name="placeOfBirth" type="string" />
        <property name="address1" type="string" />
        <property name="address2" type="string" />
        <property name="address3" type="string" />
        <property name="driverNumber" type="string" />
        <property name="forenames" type="string" />
        <property name="surname" type="string" />
        <property name="selected" type="boolean" />
      </object>
      <array typeRef="ResponseActionOutput_records_def_items_def" name="ResponseActionOutput_records_def" />
      <object name="ResponseActionOutput">
        <property name="records" typeRef="ResponseActionOutput_records_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Initializevariable_Value" path="/Initializevariable_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable2_Value" path="/Initializevariable2_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable3_Value" path="/Initializevariable3_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable4_Value" path="/Initializevariable4_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable5_Value" path="/Initializevariable5_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>