Schema/CanvasAppsVehicleCP/unpackedapp/pkgs/Wadl/HashVeResult.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="HashVeResult" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="HashVeResult" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Initializevariable2_Value_def" />
      <object name="ManualTriggerInput">
        <property name="Initializevariable2_Value" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_Make_def" />
      <string name="ResponseActionOutput_items_def_Model_def" />
      <string name="ResponseActionOutput_items_def_Colour_def" />
      <string name="ResponseActionOutput_items_def_Style_def" />
      <string name="ResponseActionOutput_items_def_Registered_def" />
      <string name="ResponseActionOutput_items_def_cc_def" />
      <string name="ResponseActionOutput_items_def_VrnReg_def" />
      <string name="ResponseActionOutput_items_def_ChassisNo_def" />
      <string name="ResponseActionOutput_items_def_EngineNo_def" />
      <string name="ResponseActionOutput_items_def_RegKeeper_def" />
      <string name="ResponseActionOutput_items_def_ad1_def" />
      <string name="ResponseActionOutput_items_def_ad2_def" />
      <string name="ResponseActionOutput_items_def_ad3_def" />
      <string name="ResponseActionOutput_items_def_ad4_def" />
      <string name="ResponseActionOutput_items_def_ad5_def" />
      <string name="ResponseActionOutput_items_def_ad6_def" />
      <string name="ResponseActionOutput_items_def_KeeperSince_def" />
      <string name="ResponseActionOutput_items_def_Stolen_def" />
      <string name="ResponseActionOutput_items_def_NoofReports_def" />
      <string name="ResponseActionOutput_items_def_MOTExpiry_def" />
      <string name="ResponseActionOutput_items_def_Ins1_def" />
      <string name="ResponseActionOutput_items_def_Ins2_def" />
      <string name="ResponseActionOutput_items_def_Report_ux20_1_def" />
      <string name="ResponseActionOutput_items_def_Report_ux20_2_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="Make" type="string" />
        <property name="Model" type="string" />
        <property name="Colour" type="string" />
        <property name="Style" type="string" />
        <property name="Registered" type="string" />
        <property name="cc" type="string" />
        <property name="VrnReg" type="string" />
        <property name="ChassisNo" type="string" />
        <property name="EngineNo" type="string" />
        <property name="RegKeeper" type="string" />
        <property name="ad1" type="string" />
        <property name="ad2" type="string" />
        <property name="ad3" type="string" />
        <property name="ad4" type="string" />
        <property name="ad5" type="string" />
        <property name="ad6" type="string" />
        <property name="KeeperSince" type="string" />
        <property name="Stolen" type="string" />
        <property name="NoofReports" type="string" />
        <property name="MOTExpiry" type="string" />
        <property name="Ins1" type="string" />
        <property name="Ins2" type="string" />
        <property name="Report 1" type="string" />
        <property name="Report 2" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Initializevariable2_Value" path="/Initializevariable2_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>