Schema/CanvasAppsVehicleCP/unpackedapp/pkgs/Wadl/NDIWrapper-Vehicle.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="NDIWrapper-Vehicle" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="NDIWrapper-Vehicle" />
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Initializevariable_Value_def" />
      <string name="ManualTriggerInput_Initializevariable2_Value_def" />
      <string name="ManualTriggerInput_Initializevariable3_Value_def" />
      <object name="ManualTriggerInput">
        <property name="Initializevariable_Value" type="string" />
        <property name="Initializevariable2_Value" type="string" />
        <property name="Initializevariable3_Value" type="string" />
      </object>
      <string name="ResponseActionOutput_insurance_def_items_def_insuranceHeld_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_vrm_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_makeModel_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_holder_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_address1_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_address2_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_insurer_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_classLine1_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_classLine2_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_policyNumber_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_allowedOthers_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_startDate_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_startTime_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_expDate_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_expTime_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_permittedDrivers1_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_permittedDrivers2_def" />
      <integer name="ResponseActionOutput_insurance_def_items_def_namedDrivers_def_items_def_number_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_namedDrivers_def_items_def_name_def" />
      <string name="ResponseActionOutput_insurance_def_items_def_namedDrivers_def_items_def_dob_def" />
      <object name="ResponseActionOutput_insurance_def_items_def_namedDrivers_def_items_def">
        <property name="number" type="integer" />
        <property name="name" type="string" />
        <property name="dob" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_insurance_def_items_def_namedDrivers_def_items_def" name="ResponseActionOutput_insurance_def_items_def_namedDrivers_def" />
      <object name="ResponseActionOutput_insurance_def_items_def">
        <property name="insuranceHeld" type="string" />
        <property name="vrm" type="string" />
        <property name="makeModel" type="string" />
        <property name="holder" type="string" />
        <property name="address1" type="string" />
        <property name="address2" type="string" />
        <property name="insurer" type="string" />
        <property name="classLine1" type="string" />
        <property name="classLine2" type="string" />
        <property name="policyNumber" type="string" />
        <property name="allowedOthers" type="string" />
        <property name="startDate" type="string" />
        <property name="startTime" type="string" />
        <property name="expDate" type="string" />
        <property name="expTime" type="string" />
        <property name="permittedDrivers1" type="string" />
        <property name="permittedDrivers2" type="string" />
        <property name="namedDrivers" typeRef="ResponseActionOutput_insurance_def_items_def_namedDrivers_def" />
      </object>
      <array typeRef="ResponseActionOutput_insurance_def_items_def" name="ResponseActionOutput_insurance_def" />
      <string name="ResponseActionOutput_keepers_def_items_def_regKeeper_def" />
      <string name="ResponseActionOutput_keepers_def_items_def_ad1_def" />
      <string name="ResponseActionOutput_keepers_def_items_def_ad2_def" />
      <string name="ResponseActionOutput_keepers_def_items_def_ad3_def" />
      <string name="ResponseActionOutput_keepers_def_items_def_ad4_def" />
      <string name="ResponseActionOutput_keepers_def_items_def_ad5_def" />
      <string name="ResponseActionOutput_keepers_def_items_def_ad6_def" />
      <string name="ResponseActionOutput_keepers_def_items_def_keeperSince_def" />
      <object name="ResponseActionOutput_keepers_def_items_def">
        <property name="regKeeper" type="string" />
        <property name="ad1" type="string" />
        <property name="ad2" type="string" />
        <property name="ad3" type="string" />
        <property name="ad4" type="string" />
        <property name="ad5" type="string" />
        <property name="ad6" type="string" />
        <property name="keeperSince" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_keepers_def_items_def" name="ResponseActionOutput_keepers_def" />
      <string name="ResponseActionOutput_markers_def_items_def_text_def" />
      <object name="ResponseActionOutput_markers_def_items_def">
        <property name="text" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_markers_def_items_def" name="ResponseActionOutput_markers_def" />
      <string name="ResponseActionOutput_make_def" />
      <string name="ResponseActionOutput_model_def" />
      <string name="ResponseActionOutput_colour_def" />
      <string name="ResponseActionOutput_style_def" />
      <string name="ResponseActionOutput_registered_def" />
      <string name="ResponseActionOutput_cc_def" />
      <string name="ResponseActionOutput_vrnReg_def" />
      <string name="ResponseActionOutput_chassisNo_def" />
      <string name="ResponseActionOutput_engineNo_def" />
      <string name="ResponseActionOutput_velNumber_def" />
      <string name="ResponseActionOutput_velDate_def" />
      <string name="ResponseActionOutput_vroLit_def" />
      <string name="ResponseActionOutput_keeperNotify_def" />
      <string name="ResponseActionOutput_previousVRNReg_def" />
      <string name="ResponseActionOutput_motExpiry_def" />
      <string name="ResponseActionOutput_insuranceText_def" />
      <string name="ResponseActionOutput_hazardsFlag_def" />
      <string name="ResponseActionOutput_tagNumber_def" />
      <integer name="ResponseActionOutput_noOfReports_def" />
      <string name="ResponseActionOutput_reports_def_items_def_reportType_def" />
      <string name="ResponseActionOutput_reports_def_items_def_reportFSOwner_def" />
      <string name="ResponseActionOutput_reports_def_items_def_reportFSCreator_def" />
      <string name="ResponseActionOutput_reports_def_items_def_reportNum_def" />
      <string name="ResponseActionOutput_reports_def_items_def_reportEarlyDate_def" />
      <string name="ResponseActionOutput_reports_def_items_def_reportLateDate_def" />
      <string name="ResponseActionOutput_reports_def_items_def_reportCreatedDate_def" />
      <string name="ResponseActionOutput_reports_def_items_def_reportCreatedTime_def" />
      <string name="ResponseActionOutput_reports_def_items_def_text1_def" />
      <string name="ResponseActionOutput_reports_def_items_def_text2_def" />
      <string name="ResponseActionOutput_reports_def_items_def_text3_def" />
      <string name="ResponseActionOutput_reports_def_items_def_reportStatus_def" />
      <object name="ResponseActionOutput_reports_def_items_def">
        <property name="reportType" type="string" />
        <property name="reportFSOwner" type="string" />
        <property name="reportFSCreator" type="string" />
        <property name="reportNum" type="string" />
        <property name="reportEarlyDate" type="string" />
        <property name="reportLateDate" type="string" />
        <property name="reportCreatedDate" type="string" />
        <property name="reportCreatedTime" type="string" />
        <property name="text1" type="string" />
        <property name="text2" type="string" />
        <property name="text3" type="string" />
        <property name="reportStatus" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_reports_def_items_def" name="ResponseActionOutput_reports_def" />
      <object name="ResponseActionOutput">
        <property name="insurance" typeRef="ResponseActionOutput_insurance_def" />
        <property name="keepers" typeRef="ResponseActionOutput_keepers_def" />
        <property name="markers" typeRef="ResponseActionOutput_markers_def" />
        <property name="make" type="string" />
        <property name="model" type="string" />
        <property name="colour" type="string" />
        <property name="style" type="string" />
        <property name="registered" type="string" />
        <property name="cc" type="string" />
        <property name="vrnReg" type="string" />
        <property name="chassisNo" type="string" />
        <property name="engineNo" type="string" />
        <property name="velNumber" type="string" />
        <property name="velDate" type="string" />
        <property name="vroLit" type="string" />
        <property name="keeperNotify" type="string" />
        <property name="previousVRNReg" type="string" />
        <property name="motExpiry" type="string" />
        <property name="insuranceText" type="string" />
        <property name="hazardsFlag" type="string" />
        <property name="tagNumber" type="string" />
        <property name="noOfReports" type="integer" />
        <property name="reports" typeRef="ResponseActionOutput_reports_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Initializevariable_Value" path="/Initializevariable_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable2_Value" path="/Initializevariable2_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable3_Value" path="/Initializevariable3_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>