Schema/CanvasAppsVehicleCP/unpackedapp/pkgs/Wadl/PoliceAPI.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/pfp-20vehicle-20tickets-5fec56f3da3c70054e-5f68dcef26c4a019c7" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PoliceAPI" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PoliceAPI" />
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/pfp-20vehicle-20tickets-5fec56f3da3c70054e-5f68dcef26c4a019c7" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="LicensePhoto_driverNumber_def" />
      <string name="LicensePhoto_image_def" />
      <string name="LicensePhoto_errorReason_def" />
      <object name="LicensePhoto">
        <property name="driverNumber" type="string" />
        <property name="image" type="string" />
        <property name="errorReason" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/pfp-20vehicle-20tickets-5fec56f3da3c70054e-5f68dcef26c4a019c7">
    <resource path="/{connectionId}/api/VehicleTickets/licensephoto/{driverNumber}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="driverNumber" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetLicensePhoto" siena:isDeprecated="false">
        <doc title="Get License Photo" />
        <request>
          <param style="header" name="IntegrationKey" type="xs:string" required="true" fixed="35C87175-6BF7-EB11-94EF-0022489CC1DC" />
          <param style="header" name="UserEmail" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:LicensePhoto" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_pfp-20vehicle-20tickets-5fec56f3da3c70054e-5f68dcef26c4a019c7" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>